nav {
    box-sizing: border-box;
    padding: 24px 40px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    width: 212px;
    height: 50px;
}

.links {
    flex-grow: 1;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-div {
    flex-basis: 375px;
    margin-right: 78px;
    display: flex;
    justify-content: space-between;
}

.links li {
    list-style-type: none;
}

.links a {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

