.section {
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
}

.awesome-traffic-section {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: url("./assets/Home/Scene.png");
    background-repeat: no-repeat;
    height: 1005px;
}

.awesome-traffic-section-content {
    box-sizing: border-box;
    padding: 46px 24px;
}

h1 {
    max-width: 625px;
    width: 100%;
    line-height: 100px;
    margin: 0 0 56px 0;
    font-size: 100px;
    color: #fff;
}

.traffic-car {
    position: absolute;
    bottom: -184px;
    left: 1px;
}

.sections-section {
    box-sizing: border-box;
    padding: 286px 46px 0 46px;
}

.faq {
    padding: 125px 0 0 0;
    max-width: 1600px;
    width: 100%;
    height: 1500px;
    background-position: right;
    background-image: url('./assets/Home/faq-bg.png');
    background-repeat: no-repeat;
}

.faq-content {
    box-sizing: border-box;
    padding: 36px 46px 0 46px;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.faq-section {
    display: flex;
}

.faq-section-text {
    margin: 105px 0 0 46px;
    max-width: 480px;
    width: 100%;
}

.faq-title {
    text-transform: uppercase;
    color: #EE4D47;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 49px;
}

.faq-text {
    line-height: 68px;
    font-size: 48px;
}

.faq-section-img-wrapper {
    width: 100%;
}

.faq-section-img-wrapper img {
    width: 97%;
}

.faq-section-content {
    box-sizing: border-box;
    padding: 119px 28px 46px 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
}

.accordion-row {
    margin: 0 0 10px 0;
    width: 49%;
}

.about-us-section {
    max-width: 1600px;
    width: 100%;
}

.about-us-content-section {
    margin-left: 15%;
    display: flex;
}

.about-us-clients-text {
    max-width: 250px;
    width: 100%;
}

.about-us-clients-title {
    color: #EE4D47;
    text-transform: uppercase;
    font-size: 24px;
}

.about-us-clients-awesome {
    font-size: 48px;
    line-height: 140%;
}

.slider {
    display: flex;
}

.slider-card-width {
    display: flex;
}